<html>
    <head>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    </head>
    <body>
        <h1 align="center">商品页面</h1>
        <div class="item" role="listitem" aria-posinset="2" aria-setsize="50">
            <img src="{{ url_for('static', filename=item['gpic']) }}"  width="215" height="215">
            <h4>{{ item['gname'] }}</h4>
            <p class="info">
                <span class="marks hotsale-hide"></span>
                <span class="price"><em>¥</em>{{item['gprice']}}</span>
                <span class="price"><em>库存量</em>{{item['gsale']}}</span>
            </p>
        </div>
        <form action="{{ url_for('add2cart',gno=item['gno']) }}" method="post">
            <label for='itemsale'>购买:</label>
            <input type='text' id='num' name='num' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"><br>
            <input type='submit' value='添加至购物车'>
        </form>
        <h1>评论</h1>
        {% if comments %}
            {% for comment in comments %}
                {{comment["vipname"]}} {{comment["orderdate"]}} 
                {{comment["gcomment"]}}<br>
            {% endfor %}
        {% endif %}
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </body>
</html>
