<html>
    <head>
        <script>
            $(function () //当网页回退时自动刷新一次
            {
                window.onpageshow = function (event) {
                    if (event.persisted) {
                        window.location.reload();
                    }
                }
            });
        </script>
    </head>
    
    <body>
        <h1 align="center">结算</h1>
        {% if allItem %}
            {% for item in allItem %}
                {{item["gname"]}}  单价:{{item["gprice"]}}  数量:{{item["gquantity"]}}<br>
            {% endfor%}
            总和:{{allPrice}}<br>
        {% endif %}
        <br>
        <form method="post">
            {{pay_Form.csrf_token()}}
            {{pay_Form.receiver.label}}{{pay_Form.receiver}}<br>
            {{pay_Form.phone.label}}{{pay_Form.phone}}<br>
            {{pay_Form.address.label}}{{pay_Form.address}}<br>
            {{pay_Form.submit}}<br>
        </form>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
    </body>
</html>