<html>
    <head>
        <script>
            $(function () //当网页回退时自动刷新一次
            {
                window.onpageshow = function (event) {
                    if (event.persisted) {
                        window.location.reload();
                    }
                }
            });
        </script>
    </head>
    
    <body>
        <h1 align="center">结算</h1>
        <a href="{{ url_for('home') }}">
            <button style="font-size:30px;width:100px;height:60px">主页</button>
        </a>
        {% if cart %}
            {% for store,items in cart.items() %}
                <p style="font-size:20px;">{{store}}</p>
                {% for item in items %}
                    {{item["gname"]}}  单价:{{item["gprice"]}}  数量:{{item["gquantity"]}}<br>
                {% endfor %}
            {% endfor%}
            <br>
            总和:{{allPrice}}<br>
        {% endif %}
        <h1>一经付款,概不退货!</h1><br>
        <form action="{{ url_for('pay') }}" method="POST">
            <input style="font-size:25px;" type='submit' value='支付'>
        </form>
        <br>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
    </body>
</html>