<html>
    <head>
    </head>
    <body>
        <h1 align="center">注册用户</h1>
        <div>
            <form method="post">
                {{register_Form.csrf_token()}}
                {{register_Form.username.label}}{{register_Form.username}}<br>
                {{register_Form.password1.label}}{{register_Form.password1}}<br>
                {{register_Form.password2.label}}{{register_Form.password2}}<br>
                {{register_Form.birthdate.label}}{{register_Form.birthdate}}<br>
                {{register_Form.sex.label}}{{register_Form.sex}}<br>
                {{register_Form.province.label}}{{register_Form.province}}<br>
                {{register_Form.address.label}}{{register_Form.address}}<br>
                {{register_Form.phone.label}}{{register_Form.phone}}<br>
                {{register_Form.submit}}<br>
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </form>
        </div>
    </body>
</html>