<html>
    <head>
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/back_reload.js') }}"></script>
    </head>
    <body>
        <h1 align="center">购物车</h1>
        {% if cart %}
            {% for store,items in cart.items() %}
                <p style="font-size:20px;">{{store}}</p>
                {% for item in items %}
                    <div class="item" role="listitem" aria-posinset="2" aria-setsize="50">
                        <a href="{{ url_for('item',gno=item['gno']) }}" width="215" height="215"  >
                            <img src="{{ url_for('static', filename=item['gpic']) }}"  width="215" height="215">
                            <p>{{ item['gname'] }}<p>
                        </a>
                        <p class="info">
                            <span class="marks hotsale-hide"></span>
                            <span class="price"><em>单价:¥</em>{{item['gprice']}}</span>
                            <span class="quantity"><em>  购买数量:</em>{{item['gquantity']}}</span>
                        </p>
                        <form action="{{ url_for('deleteFromCart',gno=item['gno']) }}" method="POST">
                            <input type='submit' value='删除'>
                        </form>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
        <a href="{{ url_for('pay') }}">
            <button id="pay">结算</button>
        </a>
    </body>
</html>