<html>
    <head>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    </head>
    <body>
        <h1 align="center">登录</h1>
        <div>
            <form method="post">
                {{signIn_form.csrf_token()}}
                {{signIn_form.username.label}}{{signIn_form.username}}<br>
                {{signIn_form.password.label}}{{signIn_form.password}}<br>
                {{signIn_form.submit}}<br>
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </form>
        </div>
        <p id='checkResult'></p>
    </body>
</html>
